* {  
 margin:  0px;
 padding: 0px;
 font-family: arial, Sans-Serif;
}

textarea {  
 font: 12px normal courier, monospace;
}

input, textarea {  
 outline:none;
}

p {  
 font: 10px normal arial, Sans-Serif;
}

em {  
 font-weight:bold;
}

body {  
 background: #EEE;
 overflow:hidden;
}

ul {  
 list-style-type: none;
}

.subtle {  
 color: #666;
}

#viewcode.disabled {  
  opacity:0.5;
}
#viewcode.disabled:hover {  
 color:           #666;
 border-color:    #CCC #999 #999 #CCC;
}

#templates, #save, #lines, #code, #paste, #error {  
 display:none;
}

#pastewrapper {  
 padding: 0px 195px 0px 0px;
}

#pastearea {  
 position: relative;
 padding:  10px 10px 0px 10px;
 width:    100%;
}

#paste { 
 position:absolute;
 padding-left:3px;
 border:     1px solid #CCC;
 background: white;
}

#code {  
 position:absolute;
 margin-bottom: 4px;
 padding-left:  29px;
 border:        1px solid;
 border-color: #9CFF00 #99BB33 #99BB33 #9CFF00;
 z-index:       99;
}

#recent a {  
 color:           #3333FF;
 text-decoration: none;
}

#recent a:hover { 
 color: #1C263C;
}

#recent a:visited { 
 color: #B6C0D2;
}

#recent {
 padding: 5px; 
 width:   150px;
}

#recent h3 {  
 font:   normal 16px arial, sans-serif;
 margin: 5px 0px 5px 0px;
}

#toolbar {  
 position: absolute;
 top:      10px;
 right:    10px;
}

#postlist a, #postlist span {  
 font: 11px normal arial, Sans-Serif;
}

#templates {  
  position:absolute;
  bottom:9px;
  margin-left:2px;
  width:400px;
  height:      12px;
  line-height: 12px;
}

#templates strong {  
 font:         bold 11px arial, sans-serif;                
 margin-right: 10px;
 margin-top:   1px;
 float:        left;
}

#templates li {  
 margin:  0px 3px;
 padding: 0px 3px;
 float:   left;
}

#templates li a {  
  font:   normal 10px arial, sans-serif;
  color:  #DD6D00;
  cursor: pointer;
}

#templates li a:hover {  
 color: #AA3A00;
}

#footer {  
 position:   fixed;
 bottom:     0px;
 width:      100%;
 height:     36px;
 padding:    4px;
 color:      #BBB;
 background: #111;
 font:       11px normal arial, Sans-Serif;
}

#codepad {  
 position:   absolute;
 bottom:     10px;
 right:      15px;
 text-align: right;
}

#footer table {  
 margin-left: 10px;
}

#footer em {  
 font:         bold 11px arial, Sans-Serif;
 margin-right: 5px;
}

#footer a {  
 color:           #9CFF00;
 text-decoration: none;
}

#footer a:hover, #footer a:visited {  
 color: #669900;
}

#new a { 
 display:block;
 margin:          10px 0px;
 padding:         10px;
 font:            bold 12px arial, sans-serif;
}

#viewcode { padding:10px 0px; width:100%; font: 12px arial, sans-serif; 
 cursor:default; }

#lines {   
  position:      absolute;
  font:          12px normal courier, monospace;
  text-align:    right;
  margin:   1px 0px 1px 1px;
  width:         22px;
  color:         #666;
  padding-right: 3px;
  overflow:      hidden;
  background:    #E6E6E6;
  border-color: transparent #CCC transparent transparent;
  border-width: 1px;
  border-style: solid;
  z-index:99999;
}

#error {  
 position:    absolute; 
 left:        50%;
 width:       200px;
 top:         20px;
 margin-left: -120px;
 text-align:  center;
 border:      1px solid #999;
 color:       red;
 z-index:     999999;
 background:  #F9F9F9;
 padding:     20px; 
 -moz-border-radius:    5px;
 -webkit-border-radius: 5px;
}

#save { 
 position: absolute;
 bottom:   0px;
 right:    5px;
 padding:         4px;
 font:            bold 12px arial, sans-serif;
}

.btn {  
 text-align:      center; 
 background:      #F9F9F9;
 text-decoration: none;
 color:           #666;
 border-color:    #CCC #999 #999 #CCC;
 border-width:    1px;
 border-style:    solid;
 -moz-border-radius:    3px;
 -webkit-border-radius: 3px;
}

.btn:hover {  
 color:        #333;
 border-color: #9CFF00 #669900 #669900 #9CFF00;
}